#OS junk files
[Tt]humbs.db
*.DS_Store

#Visual Studio files
*.[Oo]bj
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.opensdf
*.unsuccessfulbuild
ipch/
obj/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
Ankh.NoLoad
*.vsmdi
*.datasource 
UpgradeLog*

#MonoDevelop
*.pidb
*.userprefs

#Tooling
_ReSharper*/
*.resharper
[Tt]est[Rr]esult*
*.sass-cache

#Project files
[Bb]uild/

#Subversion files
.svn

# Office Temp Files
~$*

#NuGet
Binaries/
packages/

#ncrunch
*ncrunch*
*crunch*.local.xml

# visual studio database projects
*.dbmdl

#Test files
*.testsettings

#Error log
errors.txt
SqlScripts/out/

#Crystal Report Web Files
*aspnet_client*
*.metaproj
*.tmp
Source/IRIS.Law.PmsExe/IRISLegal.SqlRepositories.dll
Source/IRIS.Law.PmsExe/IRISLegal.SqlRepositories.pdb
Source/IRIS.Law.PmsExe/IRISLegal.dll
Source/IRIS.Law.PmsExe/IRISLegal.pdb
Source/IRIS.Law.PmsExe/IRIS.Law.ClientInterfaces.dll
Source/IRIS.Law.PmsExe/IRIS.Law.ClientInterfaces.pdb
Source/IRIS.Law.PmsExe/IRIS.Law.Evaluation.dll
Source/IRIS.Law.PmsExe/IRIS.Law.Evaluation.pdb
Source/IRIS.Law.PmsExe/IRIS.Law.Server.DataAccess.dll
Source/IRIS.Law.PmsExe/IRIS.Law.Server.DataAccess.pdb
Source/IRIS.Law.PmsExe/IRISLegal.EntityFramework.dll
Source/IRIS.Law.PmsExe/IRISLegal.EntityFramework.pdb
Source/IRIS.Law.PmsExe/Moq.pdb
Source/IRIS.Law.PmsLogManager/Moq.dll
Source/IRIS.Law.PmsLogManager/Moq.xml
Source/IRIS.Law.SharedWpf/Moq.dll
Source/IRIS.Law.SharedWpf/Moq.pdb
Source/IRIS.Law.ControlLib/Moq.dll
Source/IRIS.Law.ControlLib/Moq.pdb
Source/IRIS.Law.ControlLib/Moq.xml
Source/IRIS.Law.PmsInfrastructure/IRIS.Law.ClientInterfaces.pdb
Source/IRIS.Law.PmsInfrastructure/IRIS.Law.Evaluation.dll
Source/IRIS.Law.PmsInfrastructure/IRIS.Law.Evaluation.pdb
Source/IRIS.Law.PmsInfrastructure/IRISLegal.EntityFramework.dll
Source/IRIS.Law.PmsInfrastructure/IRISLegal.EntityFramework.pdb
Source/IRIS.Law.SharedWpf/IRISLegal.SqlRepositories.dll
Source/IRIS.Law.SharedWpf/IRISLegal.SqlRepositories.pdb
Source/IRISLegal.Shared/FqnReader.cs.BACKUP.2480.cs
Source/IRISLegal.Shared/FqnReader.cs.BASE.2480.cs
Source/IRISLegal.Shared/FqnReader.cs.LOCAL.2480.cs
Source/IRISLegal.Shared/FqnReader.cs.REMOTE.2480.cs
Source/IRISLegal.UI.UserDefinedScreens/IRIS.Law.ClientInterfaces.dll
Source/IRISLegal.UI.UserDefinedScreens/IRIS.Law.ClientInterfaces.pdb
Source/IRISLegal.UI.UserDefinedScreens/IRIS.Law.Evaluation.dll
Source/IRISLegal.UI.UserDefinedScreens/IRIS.Law.Evaluation.pdb
Source/IRISLegal.UI.UserDefinedScreens/IRISLegal.EntityFramework.dll
Source/IRISLegal.UI.UserDefinedScreens/IRISLegal.EntityFramework.pdb
Source/IRISLegal.UI.UserDefinedScreens/Moq.dll
Source/IRIS.Law.PmsCommon/Moq.dll
Source/IRIS.Law.SharedWpf/IRIS.Law.Server.DataAccess.dll
Source/IRIS.Law.SharedWpf/IRIS.Law.Server.DataAccess.pdb
Source/IRIS.Law.SharedWpf/IRISLegal.dll
Source/IRIS.Law.SharedWpf/IRISLegal.pdb
Source/IRIS.Law.SharedWpf/Moq.xml
Source/IRISLegal.UI.UserDefinedScreens/IRIS.Law.Server.DataAccess.dll
Source/IRISLegal.UI.UserDefinedScreens/IRIS.Law.Server.DataAccess.pdb
Source/IRISLegal.UI.UserDefinedScreens/IRISLegal.SqlRepositories.dll
Source/IRISLegal.UI.UserDefinedScreens/IRISLegal.SqlRepositories.pdb
Source/IRIS.Law.PmsInfrastructure/Moq.dll
Source/IRIS.Law.PmsInfrastructure/Moq.pdb
Source/IRIS.Law.PmsInfrastructure/Moq.xml
Source/IRIS.Law.Services/Moq.dll
Source/IRIS.Law.Services/Moq.pdb
Source/IRIS.Law.Services/Moq.xml
Source/IRIS.Law.PmsExe/IRIS.Law.DmCommonData.dll
Source/IRIS.Law.PmsExe/IRIS.Law.DmCommonData.pdb
Source/IRIS.Law.PmsExe/IRIS.Law.DmData.dll
Source/IRIS.Law.PmsExe/IRIS.Law.DmData.pdb
