@{
    ViewBag.Title = "Index";
}

@model ILB.ApplicationServices.Contacts.AllContactsQueryResult

<h2>Contacts</h2>

@Html.ActionLink("Create New", "create")

<ul>
@foreach (var contact in Model.Contacts)
{
    <li>@Html.ActionLink(contact.ToString(), "update", new { id = contact.Id })</li>
}
</ul>
